.card {
  width: 250px;
  height: 350px;
  text-align: center;
  background: #ddd;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(247, 104, 116, 0.25) 0px 13px 27px -5px,
    rgba(238, 110, 59, 0.3) 0px 8px 16px -8px;
}
.card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
.worker-img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin: 10px;
}
.worker-info {
  text-align: center;
  line-height: 30px;
  padding: 5px;
  border-radius: 10px;
}
.name {
  color: coral;
}
.hire-btn {
  width: 100px;
  background: coral;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.hire-btn:hover {
  background: rgb(236, 159, 130);
}
